*:focus
{
	outline: none !important;
}

body
{
	margin: 0px;
	font-family: Arial;
}

.inputField
{
	background-color: #eee;
	border-bottom: solid 1px #ccc;
	border-left: none;
	border-top: none;
	border-right: none;
	padding: 3px;
	padding-left: 10px;
	outline: none;
}

img.spin {
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

.menu-link {
    font-size: 16px;
    color: #818285 !important;
    text-decoration: none;
}
	.menu-link:hover {
			text-decoration: underline;
	}

table.sourceTable tr td, table.sourceTable th
{
	padding: 2px 5px;
}

table.conceptsetviewer th {
		font-size: .65em;
}

table.conceptsetviewer th.fixed-width {
	width:75px;
}

/* facet styles */
.feFilter {
	padding-left: 0px;
}

.feFilter .facetName {
	padding: 10px 2px 0px 3px;
	color: #337ab7;
	font-size: 12px;
	border-bottom: solid 1px;
	font-weight: bold;
}

.feFilter .facetMemberName {
	font-size: 11px;
	cursor: pointer;
	padding: 0px 2px 0px 5px;
	margin: 1px 0px 1px 0px;
}

.feFilter .facetMemberName:hover {
	background-color: #ddd;
}

.feFilter .facetMemberName.selected {
	background-color: #F9B813;
}

.panel-default > .panel-highlighted {
	background-color: #F9B813;
	background-image: linear-gradient(to bottom,#F9B813 0,#EFAB00 100%);
}

.feFilter .facetScrollBox {
	max-height: 125px;
	overflow-y: auto;
	border-bottom: solid 1px #eee;
	/* border-top: solid 1px #ddd; */
	margin-bottom: ;
}

/* concept selection styles */
td .fa-shopping-cart {
	color: #ccc;
	cursor: pointer;
}

.fa-shopping-cart.selected {
	color: #F19119;
}
