*:focus 
{
	outline: none !important;
}

body 
{
	margin: 0px;
	font-family: Arial;
}

.inputField
{
	background-color: #eee;
	border-bottom: solid 1px #ccc;
	border-left: none;
	border-top: none;
	border-right: none;
	padding: 3px;
	padding-left: 10px;
	outline: none;
}

img.spin {
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

.menu-link {
    font-size: 16px;
    color: #818285 !important;
    text-decoration: none;
}
	.menu-link:hover {
			text-decoration: underline;
	}

table.sourceTable tr td, table.sourceTable th
{
	padding: 2px 5px;
}