<template id="concept.dataRow">
<td><input type="checkbox" data-bind="checked: selected" /></td>	
<td><span data-bind='text: CONCEPT_ID'></span></td>
<td><span data-bind='text: CONCEPT_NAME'></span></td>
<td><span data-bind='text: CONCEPT_CODE'></span></td>
<td><span data-bind='text: VOCABULARY_ID'></span></td>
</template>

<span class="conceptList" data-bind="foreach: ConceptList">
	<span class="conceptItem"><img data-bind="click: $component.removeConcept.bind($component)" class="deleteIcon" src="images/cohortbuilder/delete.png" /><span data-bind="text: Name"></span></span>
</span>
<button class="button button-flat-primary button-small" data-bind="click: open, disable: isOpen">Add</button>
<div class="conceptsearch" title="Select Concept..." data-bind="dialog: { isOpen: isOpen, modal: true, width:700, height:500 }">
	<div data-bind="if: ProviderReady()">
		<div style="text-align: left; padding-top: 5px; padding-bottom: 5px">
			<input placeholder="Search…" data-bind="value: searchText, valueUpdate: 'input', event: { keyup: searchKeyUp }" />
			<select data-bind="options: $component.DomainOptions, value: SelectedDomain" />
		</div>
		<table class="stripe compact hover" cellspacing="0" width="100%" data-bind="dataTable:{
							dataSource: results,
							options: {
								dom: 'C<\'clear\'>lfrtip',
								deferRender: true,
								autoWidth: false,
								order: [ 2, 'asc' ],
								columns: [
									{ data: null, width:'20px', orderable: false},
									{ data: 'CONCEPT_ID', title: 'Concept Id' },
									{ data: 'CONCEPT_NAME', title: 'Concept Name' },
									{ data: 'CONCEPT_CODE', title: 'Code' },
									{ data: 'VOCABULARY_ID', title: 'Vocabulary' }
								],
								language: {
									search: 'Filter records:'
								}
							},
							rowTemplate: 'concept.dataRow'
						 }"></table>
		<div style="text-align: right; padding: 5px"><button class="button button-flat-primary button-small" data-bind="click: add">Add Selected</button> <button class="button button-flat-primary button-small" data-bind="click: addAndClose">Add And Close</button> <button class="button button-flat-primary button-small" data-bind="click: function() { this.isOpen(false);}">Close</button></div>
	</div>
	<div data-bind="if: !ProviderReady()">
		Please wait while the Vocabulary Provider initalizes....
	</div>
</div>
