<div class="criteriaGroup">
	<div class="criteriaHeading">
		<table>
			<colgroup>
				<col />
				<col />
			</colgroup>
			<tbody>
				<tr>
					<td>
						<span data-bind="if: $parentContext.hasOwnProperty('$index')">
							<span data-bind="	if: ($parents[1].group().CriteriaList().length > 0) || $parentContext.$index() > 0"><span data-bind="	text: $parents[1].group().Type() == 'ALL' ? 'And ' : 'Or '"></span>people having</span>
						<span data-bind="	ifnot: ($parent.CriteriaList().length > 0) || $parentContext.$index() > 0">People having</span>
						</span>
						<span data-bind="ifnot: $parentContext.hasOwnProperty('$index')">People having</span>
						<select data-bind="options: $component.options.groupTypeOptions, optionsText: 'name', optionsValue: 'id', value: group().Type"></select>
						of the following criteria:
					</td>
					<td>
						<div data-bind="ddSlickAction: $component.addCriteriaSettings"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div data-bind="foreach: group().CriteriaList">
		<div class="additionalCriteria">
			<div data-bind="component: { 
									name: $component.getCriteriaComponent($data.Criteria), 
									params: {expression: $component.expression, criteria: $data.Criteria }
								}"></div>
			<div class="occurrenceSection">
				<span data-bind="if: ($index() > 0)"><span data-bind="	text: $component.group().Type() == 'ALL' ? 'and ' : 'or '"></span></span>with <select data-bind="options: $component.options.occurrenceTypeOptions, optionsText: 'name', optionsValue: 'id', value: Occurrence.Type" /> <select data-bind="options: $component.options.occurrenceCountOptions, value: Occurrence.Count" /> occurrences of:
			</div>
			<div class="indexWindowSection">
				occurring between <window-input params="Window: StartWindow"></window-input> index
			</div>
			<button class="deletecriteria button button-small button-flat-caution" data-bind="click: function (data, event) { $component.removeCriteria($parent.group().CriteriaList, data) }">Delete Filter</button>
		</div>
	</div>
	<div style="padding-top: 5px; position:relative" data-bind="foreach: group().Groups ">
		<criteria-group params="{expression: $component.expression, group: ko.observable($data)}"></criteria-group>
		<button class="deletegroup button button-small button-flat-caution" data-bind="click: function (data, event) { $component.removeCriteria($parent.group().Groups, data) }">Delete Group</button>
	</div>
</div>