<div class="criteriaSection" data-bind="with: Criteria">
	<div style="position: relative">
		<table class="criteriaTable">
			<col style="width:16px" />
			<col />							
			<tr>
				<td colspan="2"> a procedure occurrence of 
					<select data-bind="options: $component.expression.Codesets, 
						optionsText: function(item) { return item.Name }, 
						optionsCaption: 'Any Procedure', 
						optionsValue: 'Id',
						value: CodesetId" class="mediumInputField">
					</select>
				</td>
			</tr>
			<tr data-bind="if: First() != null, visible: First() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('First') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td><div style="padding-left: 5px">for the first time in the person's history</div></td>
			</tr>
			<tr data-bind="if: OccurrenceStartDate() != null, visible: OccurrenceStartDate() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('OccurrenceStartDate') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					occurrence start is: <date-range params="Range: OccurrenceStartDate"></numeric-range>
				</td>									
			</tr>
			<tr data-bind="if: ProcedureType() != null, visible: ProcedureType() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('ProcedureType') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					Procedure Type is: <concept-picker params="DefaultDomain: 'Procedure Type', ConceptList: ProcedureType(), DefaultQuery: ''"></concept-picker>
				</td>									
			</tr>
			<tr data-bind="if: Modifier() != null, visible: Modifier() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('Modifier') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					Modifier is:  <concept-picker params="DefaultDomain: 'Spec Anatomic Site', ConceptList: Modifier(), DefaultQuery: ''"></concept-picker>
				</td>									
			</tr>
			<tr data-bind="if: Quantity() != null, visible: Quantity() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('Quantity') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					with quantity <numeric-range params="Range: Quantity"></numeric-range>
				</td>									
			</tr>
			<tr data-bind="if: ProcedureSourceConcept() != null, visible: ProcedureSourceConcept() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('ProcedureSourceConcept') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					<div>
						Procedure Source Concept is: 
						<select data-bind="options: $component.expression.Codesets, 
							optionsText: function(item) { return item.Name }, 
							optionsCaption: 'Select Codeset...', 
							optionsValue: 'Id',
							value: ProcedureSourceConcept()" class="mediumInputField">
						</select>
					</div>
			 </td>									
			</tr>										
			<tr data-bind="if: Age() != null, visible: Age() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('Age') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					with age <numeric-range params="Range: Age"></numeric-range>
				</td>
			</tr>
			<tr data-bind="if: Gender() != null, visible: Gender() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('Gender') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					<div>
					with a gender of: <concept-picker params="DefaultDomain: 'Gender', ConceptList: Gender(), DefaultQuery: ''"></concept-picker>
					</div>						
				</td>
			</tr>
		 <!--
			<tr data-bind="if: PriorEnrollDays() != null, visible: PriorEnrollDays() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('PriorEnrollDays') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>with at least
					<span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: PriorEnrollDays.numeric(), ko_autocomplete: { source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" />days of observation prior to diagnosis
				</td>
			</tr>
			<tr data-bind="if: AfterEnrollDays() != null, visible: AfterEnrollDays() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('AfterEnrollDays') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>with at least
					<span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: AfterEnrollDays.numeric(), ko_autocomplete: { source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" />days of observation after diagnosis
				</td>
			</tr>
 			-->
			<tr data-bind="if: ProviderSpecialty() != null, visible: ProviderSpecialty() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('ProviderSpecialty') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					<div>
					with a Provider Specialty of: <concept-picker params="DefaultDomain: 'Provider Specialty', ConceptList: ProviderSpecialty()"></concept-picker>
					</div>
			  </td>									
			</tr>	
			<tr data-bind="if: VisitType() != null, visible: VisitType() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('VisitType') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					Visit Type is: <concept-picker params="DefaultDomain: 'Visit Type', ConceptList: VisitType(), DefaultQuery: ''"></concept-picker>
				</td>									
			</tr>								
		</table>
	</div>
	<div class="addCriterion" data-bind="ddSlickAction: $component.addCriterionSettings"></div>

</div>