<div class="criteriaSection" data-bind="with: Criteria">
	<div style="position: relative">
		<table class="criteriaTable">
			<col style="width:16px" />
			<col />							
			<tr>
				<td colspan="2"> a specimen of 
					<select data-bind="options: $component.rule.Codesets, 
						optionsText: function(item) { return item.Name }, 
						optionsCaption: 'Any Specimen', 
						optionsValue: 'Id',
						value: CodesetId" class="mediumInputField">
					</select>
				</td>
			</tr>
			<tr data-bind="if: First() != null, visible: First() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('First') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td><div style="padding-left: 5px">for the first time in the person's history</div></td>
			</tr>
			<tr data-bind="if: OccurrenceStartDate() != null, visible: OccurrenceStartDate() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('OccurrenceStartDate') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					occurrence start is: <date-range params="Range: OccurrenceStartDate"></numeric-range>
				</td>									
			</tr>

			<tr data-bind="if: SpecimenType() != null, visible: SpecimenType() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('SpecimenType') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					Specimen Type is: <concept-picker params="DefaultDomain: 'Spec Type', ConceptList: SpecimenType(), DefaultQuery: ''"></concept-picker>
				</td>									
			</tr>
			<tr data-bind="if: Quantity() != null, visible: Quantity() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('Quantity') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					with Quantity <numeric-range params="Range: Quantity"></numeric-range>
				</td>									
			</tr>	
			<tr data-bind="if: Unit() != null, visible: Unit() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('Unit') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					<div>
					with Unit: <concept-picker params="DefaultDomain: 'Unit', ConceptList: Unit()"></concept-picker>
					</div>
			 </td>									
			</tr>										
			<tr data-bind="if: AnatomicSite() != null, visible: AnatomicSite() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('AnatomicSite') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					<div>
					with Anatomic Site: <concept-picker params="DefaultDomain: 'Spec Anatomic Site', ConceptList: AnatomicSite()"></concept-picker>
					</div>
			 </td>									
			</tr>										
			<tr data-bind="if: DiseaseStatus() != null, visible: DiseaseStatus() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('DiseaseStatus') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					<div>
					with Disease Status: <concept-picker params="DefaultDomain: 'Spec Disease Status', ConceptList: DiseaseStatus()"></concept-picker>
					</div>
			 </td>									
			</tr>
			<tr data-bind="if: SourceId() != null, visible: SourceId() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('SourceId') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					with Source ID <text-filter-input params="Filter: SourceId"></text-filter-input>
				</td>								
			</tr>				
			<tr data-bind="if: Age() != null, visible: Age() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('Age') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					with age <numeric-range params="Range: Age"></numeric-range>
				</td>
			</tr>
			<tr data-bind="if: Gender() != null, visible: Gender() != null">
				<td><img data-bind="click: function() { $component.removeCriterion('Gender') }" class="deleteIcon" src="images/cohortbuilder/delete.png" /></td>
				<td>
					<div>
					with a gender of: <concept-picker params="DefaultDomain: 'Gender', ConceptList: Gender(), DefaultQuery: ''"></concept-picker>
					</div>						
				</td>
			</tr>
		</table>
	</div>
	<div class="addCriterion" data-bind="ddSlickAction: $component.addCriterionSettings"></div>
</div>